&i2c0 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    pinctrl-names = "default", "sleep";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;

    bme280: bme280@77 {
        status = "okay";
        compatible = "bosch,bme280";
        reg = <0x77>;
    };

    veml7700: veml7700@10 {
        status = "okay";
        compatible = "vishay,veml7700";
        reg = <0x10>;
    };
};

&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 26)>, <NRF_PSEL(TWIM_SCL, 0, 27)>;
        };
    };

    i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 26)>, <NRF_PSEL(TWIM_SCL, 0, 27)>;
            low-power-enable;
        };
    };
};